.custom-container{
	color : black;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.6); /* Optional: subtle overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


/* Hide Viewed Projects ICON */

.checkbox-wrapper .slds-checkbox {
    display: inline-flex;
    align-items: center;
}

.label-with-icon {
    display: inline-flex;
    align-items: center;
    margin-left: 0.5rem;
}

.icon-left {
    margin-left: 4px;
    position: relative;
    top: 1px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
}


/* Hide Viewed Projects ICON */